test_infrastructure_setup/setup_scripts/chef_setup_scripts/host_files/**
!test_infrastructure_setup/setup_scripts/chef_setup_scripts/host_files/README
chef-repo/nodes/**
chef-repo/.chef/*.pem
chef-repo/.chef/trusted_certs/**
chef-repo/.chef/local-mode-cache/**
chef-repo/.chef/syntax_check_cache/**
chef-repo/cookbooks/zookeeper/files/default/install/*.tar*
chef-repo/cookbooks/solr-shard/files/default/install/*.tar*
chef-repo/cookbooks/solrcloud/files/default/dockerfiles/zookeeper/config/zoo.cfg
chef-repo/cookbooks/pods/files/default/solr/solr-shard/chef/secure/validation.pem
chef-repo/cookbooks/pods/files/default/solr/solr-shard/chef/secure/trusted_certs/**
chef-repo/cookbooks/pods/files/default/solr/tomcat/chef/secure/validation.pem
chef-repo/cookbooks/pods/files/default/solr/tomcat/chef/secure/trusted_certs/**
chef-repo/cookbooks/pods/files/default/zookeeper/chef/secure/validation.pem
chef-repo/cookbooks/pods/files/default/zookeeper/chef/secure/trusted_certs/**
chef-repo/dockerfiles/**
docker/solrcloud-prototype/docker_contexts/solr-shard-0/install/**
