; This file contains the configurable file paths to point to the various input sources that Gidget uses,
; as well as some other options. Previously, these options were read from system environment variables.
; The old env var names have been preserved in this config file so that existing documentation will still
; apply to these options. See "<gidget root>/config/required_env_vars" and "<gidget root>/doc/FileLayout.md"
; for more information about each option.

; NOTE: Gidget will perform external env variable substitution on all paths given in this file. Therefore, line such as:
;   foo=$HOME/blah/blah
; will behave as expected

[gidget]
GIDGET_SOURCE_ROOT=/gidget

[maf]
TCGAMAF_OUTPUTS=/titan/cancerregulome9/workspaces/users/ahahn/tcgamaf_outputs
TCGAMAF_DATA_DIR=/titan/cancerregulome9/workspaces/users/ahahn/tcgamaf_data_dir
TCGAMAF_REFERENCES_DIR=/titan/cancerregulome9/workspaces/bioinformatics_references/maf/20150213

[binarization]
TCGABINARIZATION_DATABASE_DIR=/proj/ilyalab/bbernard/database
TCGABINARIZATION_REFERENCES_DIR=/titan/cancerregulome9/workspaces/bioinformatics_references/binarization/20140609

[fmp]
TCGAFMP_PYTHON3=/usr/bin/python3.4
TCGAFMP_BIOINFORMATICS_REFERENCES=/titan/cancerregulome9/workspaces/bioinformatics_references
TCGAFMP_SCRATCH=/titan/cancerregulome13/TCGA/pw_scratch
TCGAFMP_DCC_REPOSITORIES=/titan/cancerregulome11/TCGA/repositories
TCGAFMP_FIREHOSE_MIRROR=/titan/cancerregulome9/TCGA/firehose
TCGAFMP_PAIRWISE_ROOT=/titan/cancerregulome8/TCGA/scripts
TCGAFMP_LOCAL_SCRATCH=/titan/cancerregulome13/TCGA/pw_scratch
TCGAFMP_CLUSTER_SCRATCH=/titan/cancerregulome13/TCGA/pw_scratch
TCGAFMP_CLUSTER_HOME=/titan/cancerregulome9/workspaces/cluster

[python]
TCGAMAF_PYTHON_BINARY=/usr/bin/python

[tools]
TCGAMAF_TOOLS_DIR=/usr/bin
LD_LIBRARY_PATH=/tools/lib:$LD_LIBRARY_PATH
